<ion-list>
  <!-- Item repetido por cada publicación en el array -->
  <ion-item *ngFor="let publicacion of publicaciones" 
            lines="full" 
            detail="false">

    <app-publicacion [publicacion]="publicacion"></app-publicacion>  <!-- Pasa la cita al componente hijo -->

    <!-- Botón para eliminar publicación -->
    <ion-button 
      fill="clear" 
      color="primary" 
      slot="end" 
      (click)="eliminarPublicacion(publicacion)">   <!-- Evento click -->
      <ion-icon icon="trash-outline" /> <!-- Icono de basura -->
    </ion-button>
  </ion-item>
</ion-list>