<ion-card-content style="display: flex; flex-direction: row;">
  <ion-img *ngIf="publicacion.foto" 
           [src]="'data:image/jpeg;base64,' + publicacion.foto"
           style="width: 100px; height: 100px; object-fit: cover; margin-right: 10px;">
  </ion-img>
  <div style="display: flex; flex-direction: row; align-items: center;">
    <b style="font-size: 18px;">{{ publicacion.titulo }}</b>
    <span style="margin-left: 20px; color: grey;">{{ publicacion.fecha | date:'dd-MM-yyyy' }}</span>
  </div>
</ion-card-content>