<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Publicaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-listado-publicaciones 
    [publicaciones]="publicaciones" 
    (publicacionEliminada)="abrirModalConfirmacion($event)">
  </app-listado-publicaciones>
  
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" routerLink="/agregar-publicacion">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<!-- Modal de confirmación -->
<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Confirmar eliminación</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <p>¿Estás seguro de que deseas eliminar esta publicación?</p>
      <ion-button expand="block" color="danger" (click)="confirmarEliminacion()">
        Eliminar
      </ion-button>
      <ion-button expand="block" fill="outline" (click)="isModalOpen = false">
        Cancelar
      </ion-button>
    </ion-content>
  </ng-template>
</ion-modal>