<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Publicaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  <!--<app-listado-platillos [platillos]="platillos"/>-->
  <app-listado-publicaciones [publicaciones]="publicaciones"/>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" routerLink="/agregar-publicacion">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>