<!-- Encabezado de la página con botón de retroceso -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" /> <!-- Botón para volver al home -->
    </ion-buttons>
    <ion-title>Gestión de citas</ion-title> <!-- Título de la página -->
  </ion-toolbar>
</ion-header>

<!-- Card para el formulario de creación -->
<ion-card>
  <ion-card-header>
    <ion-card-title>Crea una nueva cita</ion-card-title> <!-- Título del formulario -->
  </ion-card-header>
  <ion-card-content>
    <!-- Campo para el título de la publicación -->    
    <ion-item>
      <ion-input
        [(ngModel)]="publicacion.titulo"
        required="required"       
        minlength="2"
        #fraseInput="ngModel"
        label="Título"
        placeholder="Título de la publicación"
        labelPlacement="stacked" />
    </ion-item>

    <!-- Mensaje de error para el título -->
    <ion-item *ngIf="!fraseInput.valid && !fraseInput.pristine">
      <ion-text color="danger">
        Escriba un título de 2 o más caracteres
      </ion-text>
    </ion-item>

    <p>foto placeholder</p>

    <!-- Campo para la descripcion de la publicación -->
    <ion-item>
      <ion-input
        [(ngModel)]="publicacion.descripcion"
        required="required"
        minlength="5"
        #autorInput="ngModel"
        label="Descripción"
        placeholder="Descripción de la publicación"
        labelPlacement="stacked" />
    </ion-item>

     <!-- Mensaje de error para la descripción -->
    <ion-item *ngIf="!autorInput.valid && !autorInput.pristine">
      <ion-text color="danger">
        Escriba una descripción de 5 o más caracteres
      </ion-text>
    </ion-item>

    <!-- Botón para agregar publicación -->
    <ion-button 
      (click)="agregarPublicacion()"
      [disabled]="!autorInput.valid"
      color="primary">
      Guardar
    </ion-button>
  </ion-card-content>
</ion-card>