<!-- Encabezado de la página con botón de retroceso -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" /> <!-- Botón para volver al home -->
    </ion-buttons>
    <ion-title>Publicación</ion-title> <!-- Título de la página -->
  </ion-toolbar>
</ion-header>

<!-- Card para el formulario de creación -->
<ion-card>
  <ion-card-content style="overflow: visible;">
    <!-- Campo para el título de la publicación -->    
    <ion-item lines="none">
      <ion-input
        style="font-size: 18px; color: #666;"
        [(ngModel)]="publicacion.titulo"
        required="required"       
        minlength="5"
        #fraseInput="ngModel"
        label="Título"
        placeholder="Título de la publicación"
        labelPlacement="stacked" />
    </ion-item>

    <!-- Mensaje de error para el título -->
    <ion-item lines="none" *ngIf="!fraseInput.valid && !fraseInput.pristine">
      <ion-text color="danger">
        Escriba un título de 5 o más caracteres
      </ion-text>
    </ion-item>

    <ion-item lines="none">
      <div style="display: flex; flex-direction: row; align-items: center;">
        <ion-button (click)="tomarFoto()" color="medium" style="--border-radius: 2px; --padding-start: 12px; --padding-end: 12px; --padding-top: 10px; --padding-bottom: 8px;">
          <ion-icon name="camera-outline" slot="start" style="color: white;"></ion-icon>
          Fotografía
        </ion-button>
        <ion-img *ngIf="publicacion.foto" 
                [src]="'data:image/jpeg;base64,' + publicacion.foto" 
                style="max-height: 300px; max-width: 300px; object-fit: contain; margin-left: 40px;">
        </ion-img>
      </div>
    </ion-item>

    <!-- Campo para la descripcion de la publicación -->
    <ion-item lines="none">
      <ion-input
        style="font-size: 18px; color: #666;"
        [(ngModel)]="publicacion.descripcion"
        required="required"
        minlength="20"
        #autorInput="ngModel"
        label="Descripción"
        placeholder="Descripción de la publicación"
        labelPlacement="stacked" />
    </ion-item>

     <!-- Mensaje de error para la descripción -->
    <ion-item lines="none" *ngIf="!autorInput.valid && !autorInput.pristine">
      <ion-text color="danger">
        Escriba una descripción de 20 o más caracteres
      </ion-text>
    </ion-item>

    <!-- Botón para agregar publicación -->
    <ion-button 
      (click)="agregarPublicacion()"
      [disabled]="!autorInput.valid || !fraseInput.valid"
      color="primary"
      size="small"
      style="--padding-start: 8px; --padding-end: 8px; --padding-top: 0px; --padding-bottom: 0px; margin-left: 16px;">
      Guardar
    </ion-button>
  </ion-card-content>
</ion-card>