<ion-content>
  <!-- Componente de formulario para agregar citas -->
  <app-formulario-publicacion 
    (publicacionAgregada)="agregarPublicacion($event)"> <!-- Escucha evento de nueva cita -->
  </app-formulario-publicacion>

  <!-- Componente de lista que muestra todas las citas -->
  <!-- <app-listado-publicaciones 
    [publicaciones]="publicaciones" 
    (citaEliminada)="eliminarPublicacion($event)"> <!-- Escucha evento de eliminación -->
  <!-- </app-listado-publicaciones>
</ion-content>-->